.form {
    padding: 10px;
    border-radius: 5px;
    display: flex;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    flex-direction: column;
    gap: 10px;
    width: clamp(300px, 50%, 30%);
    height: 300px;
}

input,
button {
    padding: 10px;
    outline: none;
    border: none;
    background: none;
    border: 1px solid white;
    width: 70%;
    color: white;
    align-self:center;
}
button{
    color: black;
    background-color: white;
    cursor: pointer;
    margin-top: 10px;
    font-weight: 600;
   border-radius: 20px;
}
p{
    text-align: center;
}

h2 {
    text-align: center;
    padding: 10px 0;
    font-size: 40px;
}