* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #242424;
  color: white;
}

#root {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}